.icon_heart {
  margin-right: 15px;
  margin-top: 10px;
  

  &:hover {
    background: $background-color-linear-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
      animation: fill 2s;
      }
  
  }
 



    