* {
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "roboto" sans-serif;
  }
  
  h1 {
    font-size: 24px;
    font-weight: 700;
  }
  
  P {
    font-size: 18px;
    font-weight: 300;
  }