.picture {
    height: 400px;
    width: 120%;
    object-fit: cover;
    margin-bottom: -50px;
}

.main_pr {
    @media (min-width:768px){
       margin: 0px 100px 
    }
    border-radius: 30px 30px 0px 0px;
    background:$background-color;
    position: relative;
}

.title_heart {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: center;
    h1 {
        margin-right: 50px;
    }
}

.section_menus {
    display: flex;
    flex-direction: column;
    padding: 0 20px;

.animation_entree {
 animation: appear;
}
   
    .title_menus{
        border-bottom: 3px solid $tertiary-color;
        padding-bottom: 5px;
        width: 27px;     
    }
    
    .delay_1 {
      animation: appear 6s;
      animation-fill-mode: both;
    }

    .delay_2 {
      animation: appear 10s;
      animation-fill-mode: both;
    }

    .delay_3 {
      animation: appear 14s;
      animation-fill-mode: both;
    }
    
    .menu_category {
        @include base_shadow;
        @include cursor;
        background-color:white;
        border-radius: 15px;
        margin: 15px;
      
        .menu_item {
            display: flex;
            overflow: hidden;

            .menu_item_price {
                margin-left: auto;
                padding: 20px;
                display: flex;
                align-items: flex-end;
                  
            }
            .menu_item_description {
                padding: 20px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .title,.subtitle {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            }
            
            .menu_item_check {
                background-color: $tertiary-color;
                margin-right: -60px;
                width: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                transform-origin:right;
                transition: all 0.7s ease-in-out;
                border-radius: 0 15px 15px 0;
            }

           &:hover .menu_item_check {
            margin-right: 0;
           }
           .check_icon {
            color: #FFFFFF;
        }

        }
    }
    
}

.btn_commande {
    display: flex;
    justify-content: center;
}

footer {
    background-color:#353535;
    padding: 10px 15px;
    color: #FFFFFF;
    @media (min-width :768px) {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      text-align: center;
    }
  
     .logo_mobile_tablette{
      margin-left:30px ;
      @media (min-width :768px) {
        display: none;
      }
     }
  
      ul {
      line-height: 30px;
      margin-left: 30px;
      @media (min-width :768px) {
        display: flex;
        flex-direction: row;
      }
  
    }
  
    div {
      display: flex;
      align-items: center;
      margin-left: 10px;
    }
  
    .logo_dekstop{
      font-family: 'shrikhand', sans-serif;
      @media (max-width :768px) {
        color: transparent;
      } 
    }
      
    li {
     margin-right: 10px;
    }
  }
  
        
  
