//zoom
@mixin zoom_transform {
    transform: scale(1.05);
}
//ombre
@mixin base_shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@mixin cursor {
    cursor: pointer;
}

@mixin transition_duration {
    transition-duration: 800ms;
}
