// color principal
$primary-color: #9356dC;
$secondary-color: #FF79DA;
$tertiary-color:#99E2D0;


// color
$background-color:#f6f6f6;
$background-color-linear-gradient:linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);

